{% extends 'registration/login.html' %}
{% block title %}Sign up{% endblock %}
{% block heading %}Sign up{% endblock %}
{% block form %}
<form role="form" method="post"> {%csrf_token%}
	<fieldset>
		{% for field in form %}
		<div class="form-group">
			{% for error in field.errors %}
			<small style="color: red">{{ error }}</small>
			{% endfor %}
			{{field}}
		</div>
		{% endfor %}
		<div class="pull-left">
			<button type="submit" class="btn btn-primary">Sign up</button>
		</div>
		<div class="pull-right">
			<a href="/" class="btn btn-primary">Cancel</a>
		</div>
	</fieldset>
</form>
{% endblock %}