{% extends 'index.html' %}
<body>
{% block content %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Config</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{title}}</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
<!-- button ------------------------------------------------------------------->
				<div class="panel panel-default">
					<div class="panel-heading">Buttons</div>
					<div class="panel-body">
						<div class="col-md-12">
							<h5>Small</h5>
							<button type="button" class="btn btn-sm btn-primary">Primary</button>
							<button type="button" class="btn btn-sm btn-default">Default</button>
							<button type="button" class="btn btn-sm btn-success">Success</button>
							<button type="button" class="btn btn-sm btn-info">Info</button>
							<button type="button" class="btn btn-sm btn-warning">Warning</button>
							<button type="button" class="btn btn-sm btn-danger">Danger</button>
							<button type="button" class="btn btn-sm btn-link">Link</button>
							<br />
							<br />
							<h5>Medium</h5>
							<button type="button" class="btn btn-md btn-primary">Primary</button>
							<button type="button" class="btn btn-md btn-default">Default</button>
							<button type="button" class="btn btn-md btn-success">Success</button>
							<button type="button" class="btn btn-md btn-info">Info</button>
							<button type="button" class="btn btn-md btn-warning">Warning</button>
							<button type="button" class="btn btn-md btn-danger">Danger</button>
							<button type="button" class="btn btn-md btn-link">Link</button>
							<br />
							<br />
							<h5>Large</h5>
							<button type="button" class="btn btn-lg btn-primary">Primary</button>
							<button type="button" class="btn btn-lg btn-default">Default</button>
							<button type="button" class="btn btn-lg btn-success">Success</button>
							<button type="button" class="btn btn-lg btn-info">Info</button>
							<button type="button" class="btn btn-lg btn-warning">Warning</button>
							<button type="button" class="btn btn-lg btn-danger">Danger</button>
							<button type="button" class="btn btn-lg btn-link">Link</button>
							<br />
							<br />
						</div>
					</div>
				</div><!-- /.panel-->

<!-- form ------------------------------------------------------------------->
				<div class="panel panel-default">
					<div class="panel-heading">Forms</div>
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" method="post" action="/conf/test/">{%csrf_token%}
								<div class="form-group has-error">
									<label>Capital Account</label>
									<input id="capital_account" class="form-control" name="capital_account" placeholder="Enter your capital account" value="{{capital.account}}">
								</div>
								<div class="form-group">
									<label>Capital Password</label>
									<input type="password" name="capital_password" class="form-control pull-left" placeholder="Enter your capital password" value="{{capital.password}}">
								</div>
								<div class="form-group">
									<label>ID Card Number</label>
									<input type="password" name="id_number" class="form-control" placeholder="Enter your ID card number" value="{{capital.id_number}}">
								</div>
								<div class="form-group has-warning">
									<label>Deposit Account</label>
									<div class="row">
									<p class="col-md-3">
										<input name="deposit_code" class="form-control" placeholder="Enter the code of deposit account" value="{{capital.deposit_code}}">
									</p>
									<p class="col-md-9">
										<input name="deposit_account" class="form-control" placeholder="Enter your deposit account" value="{{capital.deposit_account}}">
									</p>
									</div>
								</div>
								<div class="form-group has-success">
									<label>Margin Account</label>
									<span id="margin_account" class="right"></span>
									<select id="margin_bank" class="form-control" name="margin_account">
										{% for margin_account in margin_accounts %}
										<option value="{{margin_account.code}}_{{margin_account.prefix}}" {% if margin_account.code == capital.deposit_code %} selected {% endif %}>
											({{margin_account.code}}) {{margin_account.bank}}
										</option>
										{% endfor %}
									</select>
								</div>

								<script>
									function preview_account(){
									    account = $("#capital_account").val()
									    code_prefix = $("#margin_bank").find(":selected").val().split("_")
									    account = "(" + code_prefix[0] + ") " + code_prefix[1] + " - "+ account
									    $("#margin_account").text(account)
									}

									preview_account()

									$("#margin_bank").bind("change select", function(){
										preview_account()
									})
								</script>

								<div class="form-group">
									<label>File input</label>
									<input type="file">
									<p class="help-block">Example block-level help text here.</p>
								</div>
								<div class="form-group">
									<label>Text area</label>
									<textarea class="form-control" rows="3"></textarea>
								</div>
						</div>
<!--						<div class="col-md-6">-->
<!--							<form role="form" method="get" action="/conf/test/">{%csrf_token%}-->
								<div class="col-md-6">
									<div class="form-group">
										<label>Checkboxes</label>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">Checkbox 1
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">Checkbox 2
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">Checkbox 3
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">Checkbox 4
											</label>
										</div>
									</div>
									<div class="form-group">
										<label>Radio Buttons</label>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio Button 1
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Button 2
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio Button 3
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio Button 4
											</label>
										</div>
									</div>

									<div class="form-group">
										<label>Multiple Selects</label>
										<select multiple class="form-control">
											<option>Option 1</option>
											<option>Option 2</option>
											<option>Option 3</option>
											<option>Option 4</option>
										</select>
									</div>
									<button type="submit" class="btn btn-primary">Submit Button</button>
									<button type="reset" class="btn btn-default">Reset Button</button>
								</div>
							</form>
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!-- /.col-->
			<div class="col-sm-12">
				<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
			</div>
		</div><!-- /.row -->
	</div><!--/.main-->
{% endblock %}
</body>
