{% extends 'index.html' %}
<body>
{% block content %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">{{title}}</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Requests Jobs</h1>
			</div>
		</div><!--/.row-->
				
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="tabs">
						<ul class="nav nav-pills">
							<li class="active"><a href="#pilltab1" data-toggle="tab">Results</a></li>
							<li><a href="#pilltab2" data-toggle="tab">Add new job</a></li>
						</ul>
						<div class="tab-content">
<!-- request job results ------------------------------>
							<div class="tab-pane fade in active panel panel-default" id="pilltab1">
								<div class="panel-heading">
									results
									<ul class="pull-right panel-settings panel-button-tab-right">
										<li class="dropdown">
											<a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#"><em class="fa fa-cogs"></em></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li>
													<ul class="dropdown-settings">
														<li id="dur-30min"><a href="#"><em class="fa fa-cog"></em> 30 minutes</a></li>
														<li class="divider"></li>
														<li id="dur-1hr"><a href="#"><em class="fa fa-cog"></em> 1 hour</a></li>
														<li class="divider"></li>
														<li id="dur-2hr"><a href="#"><em class="fa fa-cog"></em> 2 hours</a></li>
														<li class="divider"></li>
														<li id="dur-3hr"><a href="#"><em class="fa fa-cog"></em> 3 hours</a></li>
														<li class="divider"></li>
														<li id="dur-6hr"><a href="#"><em class="fa fa-cog"></em> 6 hours</a></li>
														<li class="divider"></li>
														<li id="dur-12hr"><a href="#"><em class="fa fa-cog"></em> 12 hours</a></li>
														<li class="divider"></li>
														<li id="dur-1day"><a href="#"><em class="fa fa-cog"></em> 1 day</a></li>
														<li class="divider"></li>
														<li id="dur-7day"><a href="#"><em class="fa fa-cog"></em> 7 days</a></li>
														<li class="divider"></li>
														<li id="dur-30day"><a href="#"><em class="fa fa-cog"></em> 30 days</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
									<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
								</div>

								<div class="panel-body">
									{% for job in request_jobs %}
									<div id="job-{{job.index}}" class="request-jobs" timestamp="{{job.submit_time}}" status="{{job.status}}">
										<div class="row">
											<div class="col-md-3">
												<p>{{job.submit_time}}</p>
												<div id="job-panel-{{job.index}}" class="alert {{job.status_bg}}" role="alert">
													<em class="fa fa-lg fa-{{job.status_icon}}">&nbsp;</em>{{job.status}}
													{% if job.status == 'RUNNING' %}
													<a href="#" class="pull-right" onclick="kill_job({{job.index}})"><em class="fa fa-lg fa-close"></em></a>
													{% endif %}
												</div>
											</div>
											<div class="col-md-9">
												<p><b style="color: black">{{job.program}}.{{job.process}}('{{job.item_code}}')</b></p>
												<div class="row">
													<div class="col-md-4">
														<p>Id: <span style="color: black"><a href="#">request_job_{{job.index}}</a></span></p>
														<p>Duration: <span style="color: black">{{job.duration}}</span></p>
													</div>
													<div class="col-md-4">
														<p>Item code: <span style="color: black">{{job.item_code}}</span></p>
														<p>Process: <span style="color: black">{{job.process}}</span></p>
													</div>
													<div class="col-md-4">
														<p>User: <span style="color: black">{{job.username}}</span></p>
														<p>Program: <span style="color: black">{{job.program}}</span></p>
													</div>
												</div>
											</div>
										</div>
									<hr>
									</div>
									{% endfor %}
								</div>
							</div>
<!-- add new job -------------------------------------->
							<div class="tab-pane fade" id="pilltab2">
								<div class="panel-heading">
									Tab 2
									<ul class="pull-right panel-settings panel-button-tab-right">
										<li class="dropdown">
											<a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#"><em class="fa fa-cogs"></em></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li>
													<ul class="dropdown-settings">
														<li id="sys_1s"><a><em class="fa fa-cog"></em> 1 second</a></li>
														<li class="divider"></li>
														<li id="sys_2s"><a><em class="fa fa-cog"></em> 2 seconds</a></li>
														<li class="divider"></li>
														<li id="sys_3s"><a><em class="fa fa-cog"></em> 3 seconds</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
									<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
								</div>
								<div class="panel-body">
									<div id="alert bg-primary" class="alert bg-primary col-md-3" role="alert"><em class="fa fa-lg fa-play-circle">&nbsp;</em> Welcome to the admin dashboard panel bootstrap template <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
									<p class="pull-right col-md-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
								</div>
							</div>
						</div>
					</div>
				</div><!--/.panel-->
			</div><!-- /.col-->
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>Daily Jobs</h2>
<!--				<div id="alert bg-primary" class="alert bg-primary" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Welcome to the admin dashboard panel bootstrap template <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>-->
<!--				<div class="alert bg-info" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Welcome to the admin dashboard panel bootstrap template <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>-->
<!--				<div class="alert bg-teal" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Welcome to the admin dashboard panel bootstrap template <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>-->
<!--				<div class="alert bg-success" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Welcome to the admin dashboard panel bootstrap template <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>-->
<!--				<div class="alert bg-warning" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Welcome to the admin dashboard panel bootstrap template <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>-->
<!--				<div class="alert bg-danger" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Welcome to the admin dashboard panel bootstrap template <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>-->


				{% for daily_job in daily_jobs %}
				{% if daily_job.status == 'AM' %}
				<div class="alert bg-warning"	role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> {{daily_job.status}} {{daily_job.process}}('{{daily_job.item_code}}') <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
				{% elif daily_job.status == 'FINISH' %}
				<div class="alert bg-teal"	role="alert"><em class="fa fa-lg fa-check-circle">&nbsp;</em> {{daily_job.status}} {{daily_job.process}}('{{daily_job.item_code}}') <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
				{% elif daily_job.status == 'PM' %}
				<div class="alert bg-teal"	role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> {{daily_job.status}} {{daily_job.process}}('{{daily_job.item_code}}') <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
				{% endif %}

				{% endfor%}
			</div>
		</div><!--/.row-->		

<!--Footer Licence-->
		<div class="row">
			<div class="col-sm-12">
				<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
			</div>
		</div><!--/.row-->
	</div><!--/.main-->

<script src="/static/js/jobs/request-jobs.js"></script>
<script>$("#dur-30min").click()</script>
{% endblock %}
</body>
